@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: black;
    border-radius: 25px;
    width: 1000px;
    padding: 20px 150px 20px 75px;
    margin: 40px 150px 20px 150px;
}

.intro-container{
    display: flex;
    align-items: center;
}

.intro-detail{
    color: white;
}

.intro-detail h1{
    line-height: 15px;
    font-size: 3em;
}

.intro-button{
    text-decoration: none;
}

.intro-switch{
    font-family: 'Poppins', sans-serif;
    background-color: red;
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.intro-banner img{
    margin: 10px 150px -27px 35px;
    width: 125%;
}

.fa-angle-right{
    margin-left: 10px;
}

.nav-list{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    background-color: black;
    border-radius: 10px;
}

.nav-button{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    align-items: center;
}

.nav-switch{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 18px;
    width: 225px;
    height: 50px;
    margin-top: 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}

#blogs{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
    margin: 100px;
}

#upcoming-matches{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3%;
    margin: 100px;
}

.upcoming-match{
    padding: 15px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(200, 200, 200);
}

.upcoming-match-banner{
    padding: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.upcoming-match img{
    width: 100%;
}

.upcoming-match-button{
    text-decoration: none;
}

.upcoming-match-switch{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 75px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.upcoming-match-detail{
    padding: 15px;
    display: flex;
    flex-direction: column;
    line-height: 1px;
    align-items: center;
}

.upcoming-match-detail p{
    color: rgb(72, 72, 72);
}

.upcoming-match-banner p{
    font-size: 20px;
    font-weight: 900;
}

.upcoming-match-info{
    display: flex;
    gap: 3px;
    align-items: center;
}

.upcoming-match-info p{
    margin-left: 5px;
}

.upcoming-match-infos{
    display: flex;
    gap: 25px;
}

.blog{
    border-radius: 10px;
    border: 1px solid rgb(200, 200, 200);
}

.blog-banner img{
    width: 100%;
}

.blog-button{
    text-decoration: none;
}

.blog-switch{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    width: 75px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.blog-detail{
    padding: 15px;
}

.blog-info{
    display: flex;
    gap: 3px;
    align-items: center;
}

.blog-info p{
    margin-left: 5px;
}

.blog-infos{
    display: flex;
    gap: 25px;
}

.fa-solid.filled{
    color: orange;
}

.view-button{
    text-decoration: none;
}

.view-switch{
    font-family: 'Poppins', sans-serif;
    width: 125px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: grab;
    display: none;
}

.article{
    display: flex;
    align-items: baseline;
}

footer{
    padding: 75px;
    text-align: center;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.footer h1{
    margin-bottom: 75px;
}

.footer h4{
    color: gray;
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-links{
    margin-top: 35px;
    display: flex;
    gap: 50px;
    font-size: 25px;
    justify-content: center;
}

.footer-links a{
    color: gray;
} 

@media screen and (max-width: 688px) {
    .container{
        width: 25%;
    }
    .intro-container{
        flex-direction: column;
    }
    .article{
        flex-direction: column;
    }
    .footer-nav{
        flex-direction: column;
    }
}